.in-dash {

    background: url('../Assets/DashboardImage.png') no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  
  .dash-bar {
    background-color: #B322FF;
    width: 100%;
    height: 200px; 
    margin: auto;
    position: relative;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: -45px;
    
  }
  
  .dash-Header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 20px;
  }
  
  .dash-Header h1 {
    font-size: 28px;
    font-family: 'JetBrains Mono', monospace;
    margin-left: -5px;
    margin-top: 25px;/* Adjust margin for spacing */
    margin-right: 75px;
  }
  
  .dHeader-Menu {
    display: flex;
    list-style: none;
    justify-content: space-around; /* Distribute items evenly along the main axis */
    align-items: center; /* Align items vertically */
    flex-grow: 0.65; /* Allow items to grow to fill remaining space */
    margin-top: 20px;
}
  
  .dHeader-Menu li:not(:last-child) {
    margin-right: 30px; /* Adjust margin for spacing between menu items */
  }
  

  
  .dmenu-button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 13px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    cursor: pointer;
  }
  
  .dmenu-button:hover {
    text-decoration: none;
  }
  

  .dregister-link {
    position: relative;
    display: flex;
    align-items: center; /* Align items vertically */
  }
  
  .dregister-link a {
    color: #fff;
    font-size: 20px;
  }
  
  .icon {
    font-size: 20px;
    position: absolute;
    top: 50%; /* Center the icons vertically */
    transform: translateY(-50%); /* Center the icons vertically */
  }
  
  /* Adjust position of notifications icon */
  .dregister-link.notifications .icon {
    margin-top: 10px;
    left: 100px; /* Adjust left position */
  }
  
  /* Adjust position of settings icon */
  .dregister-link.settings .icon {
    margin-top: 10px;
    left: 170px; /* Adjust left position */
  }
  
  /* Adjust position of account icon */
  .dregister-link.account .icon {
    margin-top: 10px;
    left: 240px; /* Adjust left position */
  }
  .dash-item .dmenu-button {
    color: black;
}
.dHeader-Menu li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* Active state for the "DASHBOARD" button */
.dash-item.active a {
  color: black;
  font-weight: bold;
}

.Main-box {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center children vertically */
  align-items: center; /* Center children horizontally */
  width: 100%; /* Ensure it takes up the full width */
  padding: 12px; /* Add some padding for spacing */
  margin-top: 20px;
 }
 
 .Recent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 1500px;
  padding: 20px;
  margin-bottom: -45px;
 }

 .Earnings {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  background-color:#BF7DFF;
  padding: 30px;
  border-radius: 10px;
  color: black;
  height: 90px; 
  width: 430px;
  margin-bottom: 20px;

}

.Spend {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  background-color:#BF7DFF;
  padding: 30px;
  border-radius: 10px;
  color: black;
  height: 90px; 
  width: 430px;
  margin-bottom: 20px;
}

.Summary {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  background-color:#BF7DFF;
  padding: 30px;
  border-radius: 10px;
  color: black;
  height: 90px; 
  width: 435px;
  margin-bottom: 20px;
  
}

.Repres {
  position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 95%;
    height: auto;
    padding: 20px;
    background-color: transparent;
    margin-bottom: -48px

 }

 .left {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  width: 45%;
  height: 70vh;
  background-color:transparent;
  padding: 10px; 
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  
 }

 .Bal
 {
  font-family: 'Inter', sans-serif;
  font-size: 25px; 
  color:black;
  padding: 30px;
  border-radius: 10px;
  background-color:white;
  height: 190px; 
  width: 370px;
  margin-bottom: 20px;
 }

 .Sum
 {
  font-family: 'Inter', sans-serif;
  font-size: 22px; 
  color:black;
  padding: 30px;
  border-radius: 10px;
  background-color:white;
  height: 350px; 
  width: 370px;
  margin-bottom: 20px;
 }

 
 .right {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
 


  width: 100%;
  height: 70vh;
  background-color:transparent;
  padding: 10px; 

  margin-bottom: 20px;
  margin-right: 190px;
  
 } 
 


 .Graph
 {
  font-family: 'Inter', sans-serif;
  font-size: 22px; 
  color:black;
  padding: 30px;
  border-radius: 10px;
  background-color:white;
  height: 700px; 
  width: 840px;
  margin-bottom: 20px;
  margin-right: -300px;
 }
 