@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

.in-transaction {

    background: url('../Assets/transactions.png') no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    max-width: 1500px; /* Set a maximum width for the container */
    margin: auto;
    display: flex;
    flex-direction: column; 
  }
  
  .tra-bar {
    background-color: #B322FF;
    width: 100%;
    height: 70px; 
    margin: auto;
    position: relative;
    margin-top: 0px;
    margin-right: 0px;
    
  }
  
  .tra-Header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 20px;
  }
  
  .tra-Header h1 {
    font-size: 28px;
    font-family: 'JetBrains Mono', monospace;
    margin-left: -5px;
    margin-top: 25px;/* Adjust margin for spacing */
    margin-right: 75px;
  }
  
  .tHeader-Menu {
    display: flex;
    list-style: none;
    justify-content: space-around; /* Distribute items evenly along the main axis */
    align-items: center; /* Align items vertically */
    flex-grow: 0.65; /* Allow items to grow to fill remaining space */
    margin-top: 20px;
}
  
  .tHeader-Menu li:not(:last-child) {
    margin-right: 30px; /* Adjust margin for spacing between menu items */
  }
  

  
  .tmenu-button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 13px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    cursor: pointer;
  }
  
  .tmenu-button:hover {
    text-decoration: none;
  }
  

  .tregister-link {
    position: relative;
    display: flex;
    align-items: center; /* Align items vertically */
  }
  
  .tregister-link a {
    color: #fff;
    font-size: 20px;
  }
  
  .icon {
    font-size: 20px;
    position: absolute;
    top: 50%; /* Center the icons vertically */
    transform: translateY(-50%); /* Center the icons vertically */
  }
  
  /* Adjust position of notifications icon */
  .tregister-link.notifications .icon {
    margin-top: 10px;
    left: 100px; /* Adjust left position */
  }
  
  /* Adjust position of settings icon */
  .tregister-link.settings .icon {
    margin-top: 10px;
    left: 170px; /* Adjust left position */
  }
  
  /* Adjust position of account icon */
  .tregister-link.account .icon {
    margin-top: 10px;
    left: 240px; /* Adjust left position */
  }
  .tra-item .tmenu-button {
    color: black;
}

.t-Box
{
  display: flex;
  flex-direction: column; /* Stack children horizontally */
  justify-content: center; /* Distribute children evenly */
  align-items: center;
  width: 80%;
  height: 73vh;
  background-color:white;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom:90px;
  margin-right: 10px;
  border-radius: 10px;
  
}

.head-t
{
   
  background-color:white;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 50px; 
  color:#6E259A;
  font-weight: 15px;
  margin-bottom:50px;
  margin-right: 650px;

}

.tr4
{
  height: 7vh;
  background-color: #D9D9D9;
  color: rgb(130, 121, 121);
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 20px;
  margin-right: 130px;
}

.tr3
{
  height: 7vh;
  background-color: #D9D9D9;
  color: rgb(130, 121, 121);
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-right: 130px;
}

.tr2
{
  height: 7vh;
  background-color: #D9D9D9;
  color: rgb(130, 121, 121);
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-right: 130px;
}

.tr1
{
  height: 7vh;
  background-color: #D9D9D9;
  color: rgb(130, 121, 121);
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 30px;
  margin-right: 130px;
}